.cards {
    margin: 0 auto;
    margin-top: 75px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(autofill, minmax(225px, 400px)); */
    gap: 20px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    display: block;
}

.card-content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

.card-content > p:first-of-type {
    margin-top: 0;
}

.card-content > p:last-of-type {
    margin-bottom: 0;
}

.card-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: black;
    border-bottom: 2px solid white;

    font-size: 0.8em;
    color: white;
    font-family: Inter, Arial;
}