.welcome {
    padding-top: 175px;
}

.welcome-quote {
    text-align: center;
    font-style: italic;
    font-size: 25px;
    padding: 30px;
}

.reviews {
    margin-top: 75px;
}

@media screen and (max-width:767px) {
    .welcome-quote{
        margin-top: 0;
        margin-bottom: 0;
    }

    .welcome{
        padding-top: 100px;
    }
}